#aPropos{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/*me + loisirs*/
.box_me{
display: flex;
}
.box_me p{
    padding: 20px;
}
.box_loisirs{
    text-align: center;
    margin: 0 50px;
}
.box_me h3{
    padding-bottom: 20px;
    color: #414141
}
.box_me_description{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 50px;
}
.icon_text_loisir{
background-color: #f6b20b;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
margin: 10px;
width: 130px;
height: 130px;
border-radius: 50%;
box-shadow: 0 20px 25px rgb(0 0 0 / 20%);
}
.box_content_loisirs{
    display: flex;
    justify-content: center;
}
.box_me span{
    color: #fff;
    margin-top: 10%;
    font-size: 1em;
    font-weight: 550;
}
.medium_icon{
    width: 3em;
}
/*skills*/
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}
.box_content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.icon{
    width: 2.5em;
}
.smaller_icon{
    width: 3.5em;
}
.icon_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    width: 150px;
    height: 200px;
    border-radius: 20px;
    border: #f6b20b solid 5px;
    box-shadow: 0 20px 25px rgb(0 0 0 / 20%);
    }
 
.box h2{
    padding-bottom: 20px;
    margin-top: 100px;
    text-align: center;
}
.box span{
    margin-top: 10%;
    font-size: 1em;
    font-weight: 550;
}
.title_before_skills{
    background-color: #214d62; 
    padding: 10px;  
    margin-top: 100px; 
    color: #fff; 
    text-align: center;
}
@media screen and (max-width: 1024px){
    .box_me{
        flex-direction: column;
    }
    .box_loisirs h3 {
        margin-top: 80px;
    }
}
@media screen and (max-width: 750px){
    .icon_text{
        width: 105px;
        height: 150px;
        border: #f6b20b solid 3px;
    }
    .box span{
        margin-top: 20%;
    }
}
