/* -----------------------------------------------------------------SECTION CONTACT*/
#contact{
    display: flex;
    flex-direction: column;
}
.container-form{
position: relative;
min-height: 550px;
min-width: 1100px;
display: flex;
z-index: 1000;
margin: 40px;
}
/* ---------------------------PARTIE INFO*/
.container-form .contactInfo{
    background: #f6b20b;
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
}
.container-form .contactInfo h2{
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
}
.container-form .contactInfo ul.info{
    position: relative;
    margin: 20px 0;
    padding-top: 5%;
}
.container-form .contactInfo ul.info li{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    align-items: center;
}
/*icon contact info*/
.container-form .contactInfo ul.info li span:nth-child(1){
    margin-right: 15px;
    font-size: 1.5em;
    color: white;
}
/*text contact info*/
.container-form .contactInfo ul.info li span:nth-child(2){
    font-size: 1em;
    color: white;
}
/*social icon contact info*/
.container-form .contactInfo ul.contact_link{
    position: relative;
    display:flex;
}
.container-form .contactInfo ul.contact_link li{
    list-style: none;
    margin-right: 15px;
}
.container-form .contactInfo ul.contact_link li a i{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}
.container-form .contactInfo ul.contact_link li a i:hover{
    color: #3982a3;
}
/* ---------------------------PARTIE FORMULAIRE*/
.container-form .contactForm{
    position: relative;
    padding: 0 50px;
    padding-top: 40px;
    background: #214d62;
}
.container-form .contactForm h2{
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}
.container-form .contactForm .formBox{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}
.container-form .contactForm .formBox .inputBox{
    position: relative;
    margin-bottom: 35px;
}
.container-form .contactForm .formBox .inputBox.w50{
    width: 47%;
}
.container-form .contactForm .formBox .inputBox.w100{
    width: 100%;
}
.container-form .contactForm .formBox .inputBox input,
.container-form .contactForm .formBox .inputBox textarea{
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 1.2em;
    font-weight: 300;
    color: #fff;
    background: #214d62;
    border: none;
    outline: none;
    border-bottom: 1px solid #f6b20b;
}
.container-form .contactForm .formBox .inputBox textarea{
    height: 120px;
}
.container-form .contactForm .formBox .inputBox span{
    position: absolute;
    left: 0;
    font-size: 1em;
    color: #fff;
    padding: 5px 0;
    pointer-events: none;
    font-weight: 300;
    transition: 0.3s;
}
.container-form .contactForm .formBox .inputBox input:focus ~ span,
.container-form .contactForm .formBox .inputBox input:valid ~ span,
.container-form .contactForm .formBox .inputBox textarea:focus ~ span,
.container-form .contactForm .formBox .inputBox textarea:valid ~ span{
    transform: translateY(-20px);
    font-size: 0.8em;
    font-weight: 400;
    letter-spacing: 1px;
    color: #f6b20b;
    font-weight: 500;
}
.container-form .contactForm .formBox .inputBox input[type="submit"]{
    position: relative;
    cursor: pointer;
    background-color: #f6b20b;
    color: white;
    border: none;
    max-width: 150px;
    padding: 15px;
}
.container-form .contactForm .formBox .inputBox input[type="submit"]:hover{
    background: #3982a3;
}
/* -----------------------------------------------------------------RESPONSIVE SECTION CONTACT*/
@media screen and (max-width: 1500px) {
    .container-form{
        min-width: auto;
        min-height: auto;
    }    
    .container-form .contactForm{
        padding: 40px;
    }
}
@media screen and (max-width: 1024px){
    .container-form{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        margin: 20px;
    }
    .container-form .contactInfo{
        width: 90%;
        height: auto;
        flex-direction: row;
    }
    .container-form .contactForm{
        width: 90%;
        height: auto;
        margin-top: 100px;
    }
}
@media screen and (max-width: 600px){
    .container-form{
        max-width: 70%;
    }
    .container-form .contactForm .formBox{
        flex-direction: column;
        align-items: center;
    }
    .container-form .contactForm .formBox .inputBox.w50{
        width: 100%;
    }
    .container-form .contactInfo{
        flex-direction: column;
    }
}
@media screen and (max-width: 350px){
    .container-form .contactInfo{
        justify-content: center;
        align-items: center;
        
    }
}