*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: #fff;
    font-size: 1rem;
}
/* -----------------------------------------------------------------SECTION*/
.section{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* section:nth-child(even){
    background-color: #214d62;
} */
.section h1{
    font-size: 2em;
    color: #f6b20b;
}
/* @media screen and (max-width: 1500px) {
    .section{
        min-height: 100vh;
        height: auto;
    }
} */
/* -----------------------------------------------------------------SECTION ACCUEIL*/
#accueil{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
/* -----------------------------------------------------------------SECTION A PROPOS*/
#aPropos{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box h2{
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-start;
}
.box_front, .box_back, .box_others{
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    border: #f6b20b solid 5px;
    box-shadow: 0 20px 25px rgb(0 0 0 / 20%);
}
.icon{
    width: 2.5em;
}
.smaller_icon{
    width: 3.5em;
}
.icon_text{
display: flex;
align-items: center;
padding-top: 10px;
}
.box span{
    font-size: 1em;
    font-weight: 550;
    padding-left: 20px;
}
/* -----------------------------------------------------------------SECTION PORTFOLIO*/
#portfolio{
    display: flex;
    flex-direction: column;
    min-height: 150vh;
}
.projets{
    display: flex;
    padding: 10px;
    align-items: baseline
}
.projets a{
    text-decoration: none;
}
.projet{
    margin: 0 10px;
    padding: 10px;
    text-align: center;
}
.projets_text{
    color: #fff;
    max-width: 40vw;
    position: relative;
    margin-top: -50%;
    opacity: 0;
}
.projets_text:hover{
    opacity: 1;
}
img:hover + .projets_text {
    opacity: 1;
}
.projet img{
    max-width: 40vw;
}
.projets a{
    filter: brightness(100%);
}
.projets a:hover{
    filter: brightness(40%);
}
.responsive_text_portfolio{
    display: none;
}
@media screen and (max-width: 1024px) {
    .projets{
        flex-direction: column;
    }
    .projet img{
        max-width: 80vw;
    }
    .projets_text{
        display: none;
    }
    .responsive_text_portfolio{
        display: block;
        position: relative;
        z-index: 100;
        margin-top: -5px;
        background: #214d62;
        color: #fff;
    }
    .projets a:hover{
        filter: brightness(100%);
    }
}
/* -----------------------------------------------------------------FOOTER*/
footer{
    background: #214d62;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
footer i{
    color: #fff;
    font-size: 1.5em;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
footer i:hover{
    color: #f6b20b;
}
/* -----------------------------------------------------------------BUTTON*/
#scrollToTopBtn {
    color: #f6b20b;
    cursor: pointer;
    font-size: 2em;
    margin-right: 20px;
    padding: 20px 0;
    margin-left: auto;
  }
#scrollToTopBtn:hover{
    color: #3982a3;
}
#down i{
    color: #f6b20b;
    cursor: pointer;
    font-size: 1.5em;
    margin-bottom: 20px;
}